<!DOCTYPE html>
<html>
    <head>
        <title>Food Calorie Tracker</title>
        <style>
            img {
                width: 100px;
                 border-radius: 10px;
                 float: left;
                 margin-right: 10px;
            }
            p{
                
            }
        </style>
    </head> 
        <body>
           <img src="images/3232821.png" alt="image not available">
           <p>Hi </p>
           <p>enter food barcode</p>
        </body>
</html>